body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0 2em;
    color: #eeeeee;
    background-color: #1c1c1c;
}

.code {
    margin: 0 2em;
    padding: 0 1em;
    background-color: #111111;
}

.section {
    margin: 0 2em;
    background-color: #222222;
    padding: 1em;
}

.subsection {
    margin: 0 2em;
}

a:visited {
    color: #999999;
}
a {
    color: #999999;
}

.bold {
    font-weight: bold;
    color: #338833;
}

p code, li code {
    color: #449944;
    font-size: 1.2em;
}

h3 {
    margin-top: 3em;
}

img {
    margin: 0 2em;
}

.current_section {
    color: #ffff00;
}