html, body {
    margin: 0px;
    padding: 0px;
}
#header {
    background-color: #eeeeee;
    height: 56px;
    width: 100%;
    overflow: hidden;
}

#header div {
    float: left;
    margin: 5px 15px 0px 15px;
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.disabled {
    opacity: 0.25;
    cursor: default;
}

.separator {
    width: 1px;
    height: 46px;
    background-color: #999999;
}
