    var res = 50;
    for(var y = 0; y < height; y += res) {
        for(var x = 0; x < width; x += res) {
            list.addCircle({
                translationX: x,
                translationY: y,
                x: res / 2,
                y: res / 2,
                radius: res / 2
            })
        }
    }
